<div class="sobre" id="sobre">
    <h1>Localidade</h1>
    
    <div class="layout">
        
        <div class='image'>
            <img src="./assets/fachada_pizzaria.jpg">
        </div>
        <div class='map'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.3882276150807!2d-37.63740354728409!3d-7.74858169850239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a637bf3c81683f%3A0xfd82483500537807!2sAfogados%20da%20Ingazeira%20-%20PE!5e0!3m2!1spt-BR!2sbr!4v1706035145005!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    

</div>
